<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <h3 class="h-25"> please enter the data</h3>
    <div class=" input-unit">
        <div class="input-content">
            <form  th:action="@{/insertproduct}" th:object="${obj}" method="post">
                <p>please Enter unit of measure</p>
                <input type="text" th:name="price" class="input-text-field"  />

                <input type="text" th:name="description" class="input-text-field"  />

                <input type="submit" value="submit" class="input-submit button1">
            </form>
        </div>

    </div>

</div>
</body>
</html>