<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<body>
<div class="container">
<table>
    <tr><th>id</th><th>price</th>
    <th>description</th>
    </tr>
        <th:block th:each=" product : ${all}">
            <tr><td th:text="${product.id}"></td>

        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
                <td> <a th:href="@{/delete/{id}(id=${product.id})}" class="dropdown-item "><span class="">delete</span> </a></td>
    </tr>
    </th:block>
</table>


</div>
</body>
</html>